<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill CAMPUS in 盛岡</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <header class="header">
            <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Logo" class="logo">
            <h1>Skill CAMPUS in 盛岡</h1>
        </header>

        <main class="main-content">
            <section class="info-section" style="text-align:center;  width: 250px;">
                <br>
                <h2>ようこそ、Skill CAMPUS in 盛岡へ！</h2>
                <p>当サイトは、岩手県盛岡市内を巨大キャンパスとして</p>
                <p>さまざまなスキル合宿エリアを提供しています</p>
                <br>
                <p>合宿規模を入力して表示される合宿場所をクリック</p>
                <p>近隣の関連施設とともに情報が表示されますので</p>
                <p>いい場所が見つかりましたらお問い合わせください</p>
                <br>
                <br>
                <div class="input-group" style="text-align:center;">
                    <label for="capacity">Capacity</label>
                    <select id="capacity" name="capacity" style="width:200px;">
                        <option value="">人数</option>
                        <option value="10">20人</option>
                        <option value="50">50人</option>
                        <option value="100">100人</option>
                    </select>
                </div>

                <button class="contact-button">いますぐ問い合わせる</button>
            </section>

            <section class="map-section" style="flex-grow: 1;">
                <div id="map" style="height: 100%; width: 100%;"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
                <script>
                    function initMap() {
                        var location = { lat: 39.703865, lng: 141.151339 };  // 石割り桜座標
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 14,
                            center: location
                        });

                        // マーカーのオリジナル画像を指定
                        var customIcon = {
                            url: 'https://mokeruto.jp/sc/hotel.png',  // 画像のURL
                            scaledSize: new google.maps.Size(50, 50)  // 画像のサイズ（必要に応じて調整）
                        };

                        var marker = new google.maps.Marker({
                            position: location,
                            map: map,
                            icon: customIcon  // カスタムアイコンを指定
                        });
                    }

                    google.maps.event.addDomListener(window, 'load', initMap);
                </script>
            </section>

        </main>

        <section class="details-section">
            <div class="facility-info">
                <h3>クリックした合宿会場</h3>
                <p>もりもり交流センター</p>
                <p>分類: 公共施設</p>
                <p>収容可能人数: 100人</p>
            </div>
            <div class="facility-info">
                <h3>近隣の登録飲食店</h3>
                <p>彩りダイニング (タイ料理: 最大93人)</p>
                <p>風味食堂 (洋食: 最大76人)</p>
                <p>花咲冷麺 (焼肉冷麺: 最大60人)</p>
            </div>
            <div class="facility-info">
                <h3>近隣の登録宿泊施設</h3>
                <p>星の宿 (ホテル: 最大121人)</p>
                <p>風の旅館 (旅館: 最大20人)</p>
                <p>山のホテル (ホテル: 最大165人)</p>
            </div>
        </section>

        <footer class="footer">
            Copyright © 2024 SkillCAMPUS in 盛岡
        </footer>
    </div>
</body>

</html>
